body {
    background-color: #ffc444;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.title {
    padding-top: 80px;
    font-weight: 700;
    font-size: 3rem;
}

.buffer{
    height: 2rem;
}

.screenshot {
    height: 35rem;
    width: 330px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}
.section {
    background-color: white;
    height: 150px;
}

footer {
    height: 20px;
    padding: 10px;
}

.google {
    height: 50px;
    width: 150px;
}

.img-container {
    text-align: center;
    padding-top: 10px;
}

.title2{
    padding-top: 20px;
    font-size: 2rem;
}

h5{
    padding: 15px;
}

@media only screen and (min-width: 1200px) {
  .images {
    position: relative;
    left: 80px;
  }
}
